@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.font-fredoka {
    font-family: "Fredoka", sans-serif;
}

.no-select {
    user-select: none;
    -webkit-user-select: none;
}

:root {
    --scale: calc(min(100vw / 1920, 100vh / 1080));
}

body {
    margin: 0;
    overflow: hidden;
    background: #000;
}
